.menu-item-container {
  width: 100%;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 0.5rem;
  color: var(--text-gray);
  font-family: var(--font-secondary), sans-serif;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;

  @media (min-width: 768px) {
    padding: 1rem 1.2rem;
  }

  &:hover {
    box-shadow: 0 0 0.6rem .09rem rgba(0, 0, 0, 0.28);
    transform: scale(1.02);
  }

  .item-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: .4rem 0;
    color: var(--chocolate);

    .item-header-title {
      font-size: 1.1rem;
      font-family: var(--font-secondary), sans-serif;
      font-weight: bolder;
      margin: 0;
      padding: 0;

      @media (min-width: 768px) {
        font-size: 1.4vw;
      }
    }

    .item-header-price {
      font-size: 1.1rem;
      font-family: var(--font-secondary), sans-serif;
      font-weight: bold;
      margin: 0;
      padding: 0;

      @media (min-width: 768px) {
        font-size: 1.4vw;
      }
    }
  }

  .item-divider {
    height: 0.1rem;
    width: 100%;
    background-color: var(--chocolate);
    margin-bottom: 1rem;
  }

  .item-description {
    font-size: 1rem;
    font-family: var(--font-secondary), sans-serif;
    text-align: start;

    @media (min-width: 768px) {
      font-size: 1.2vw;
    }
  }
}