.menu-container {
    height: 40rem;
    width: 100%;
    background-image: var(--white-ice);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 2rem 2rem;
    gap: 1.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem .078rem rgba(0, 0, 0, 0.2);
    overflow-y: auto;

    @media  screen and (min-width: 578px) {
        height: 80vh;
    }

    .menu-title {
        font-family: var(--font-logo), sans-serif;
        font-size: 2rem;
        align-self: center;
        text-transform: uppercase;
        color: var(--chocolate);
        position: absolute;

        @media (min-width: 768px) {
            font-size: 3.5vw;
        }
    }

    .menu-items {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 4rem;
    }
}
