.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  .main-section {
    width: 100%;
    height: 100vh;
    min-width: 37.7rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 5rem;
    background-image: var(--chocolate);
  }
}



