.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  .main-section {
    width: 100%;
    min-width: 37.7rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
    background-image: var(--chocolate);
    z-index: 3;

    @media  screen and (min-width: 768px) {
      flex-direction: row;
      padding: 4.5rem;
    }
  }
}



