.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 20rem;
    background-color: var(--chocolate);
    background-image: url("/img/background-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;


    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    .header-title {
        font-family: var(--font-logo), cursive;
        font-size: 7.5vw;
        font-weight: 700;
        color: var(--areia);
        text-shadow: 0 .1rem 0.4rem var(--text-dark);
        z-index: 3;
    }

    .header-divider {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        z-index: 3;

        img {
            width: 80%;
            margin: 0 auto;
            z-index: 3;
        }
    }

    .header-description {
        font-family: var(--font-default), sans-serif;
        font-size: 1.4vw;
        color: var(--areia);
        text-shadow: 0 .1rem 1rem var(--text-dark);
        z-index: 3;
    }
}

